*{
    margin: 0;
    box-sizing: border-box;

}

body{
font-family: sans-serif;
/*padding: 90px 20px 0;*/
}

main{width: auto;
    height: auto;


}
header{
    background-color: rgb(14, 14, 15);
    height: 80px ;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;



}



nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.nav-link{
color: white;
text-decoration: none;

}

.logo{
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{

display: flex;
margin-right: 40px;
list-style: none;

}

.nav-menu-item{
    
    font-size: 18px;
    margin: 0 10px;
    line-height: 60px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-item{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-item:hover{
background-color: aqua;
transition: 0.5s;


}
.nav-toggle{
color: white;
background: none;
border: none;
font-size:30px;
padding: 0 20px;
line-height: 60px;
cursor: pointer;

display: none;

}
.titleprincipal{
    margin-top: 100px;
    font-size: 37px;
    text-align: center;
}

.parrafotitle{margin-top: 20px;
    text-align: center;
}
.titleproductos{
    margin-top:40px; ;
    font-size: 30px;
    text-align: center;
}
.textfooter{
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 25px;

}
/*parte de produtos*/
#products{
    display: flex;
    flex-wrap: wrap;

}


.product{
    
    background-color: rgb(255, 255, 255)!important ;
    width: 250px;
    height: 450px;
    margin: 20px;
    

}
.product{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}


.image{
    max-width: 100%;
    
}

.parrafofooter{text-align: center;
    margin: 20px;
    padding: 20px;
    color:white;
}




#contacto{margin-top: 20px;
          margin-bottom:20px;}    

footer{
    background-color: black;
}




/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}



/*mediaqueris mobil*/
@media(max-width:768px){
    body{padding:70px ;
background-color: grey;
    }

    header{
        
        height: 60px ;
    
    }
   
    
    
    
    .logo{
        padding: 0 40px;
        line-height: 80px;
    }
    
    .nav-menu{  
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
    background-color: orange;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% -60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s ;
    
    }
    
    .nav-menu-item{
     
        line-height: 50px;
    }
   
    .nav-menu-item:hover,
    .nav-menu-item_active{
    background: none;
    color: blue;
    
    
    }
    .nav-toggle{
    display:block;
    
    }
    .nav-menu_visible{
        left: 0%;
    }
    .titleprincipal{
        margin-top: 10px;
        font-size: 30px;
        text-align: center;
    }
    
    .parrafotitle{margin-top: 10px;
        text-align: center;}

       
           
    }
   
   